<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Органайзер настольных игр | Вход в систему</title>
</head>
<body>
    <form method="POST" th:action="@{/login}">
        <label for="login">Email</label>
        <input type="text" name="username" id="login" required><br>

        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" required><br>

        <button type="submit">Войти</button>
    </form>
    <a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>